#corps
{
	background-color:black;
}

#warpper
{
	margin: auto;
	width:45%;
	
}

#MainImage{
width:600px;
height:400px;
    }
img
{
	
	width:600px;
	height:400px;
}
.choix
{
	width:197px;
	height:160px;
    opacity:5;
    position: relative;

}

#bouton
{
	margin: auto;
	width:600px;
	height:40px;
	border-radius: 20px;
	background-color: white;
	
}
#SideImage
{
	width: 300%;
	top:50%;
}
h1
{
	text-align:left;
	color: white;
}
#bienvenue
{
	color: white;
	text-align: center;
}
#node
{
	width: 30px;
	height: 30px;
}
#im1
{
	border-style: solid;
	border-color: black;

}