<!DOCTYPE html >
<html>
	<head>
		<title> Labo 3 Album photos (jQ3)</title>
		
		
          <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
        <link rel="stylesheet" href="../css/styleL5E3.css" />
		<meta charset="utf-8" />
    </head>
	<body>
        <%- include("../partial/lien") %>
        <h1>L5E3</h1>
        <div class="container">
            <div class="row">
				<img class="col-12" src="../public/img/Tulips.jpg" id="im1"/>
            </div>
            
            <div class="row">
				<img class="col-4" src="../public/img/Koala.jpg"  id="im2" class="choix"/>
				<img class="col-4" src="../public/img/Lighthouse.jpg"  id="im3"class="choix"/>
				<img class="col-4" src="../public/img/Penguins.jpg"  id="im4" class="choix"/>
            </div>
           
            <div class="row">
                <button class="col-12" id= "bouton"> Diaporama </button>
            </div>
            
        
        </div>
        
        <div id="warpper">
			<div id="balle"></div>	
        </div>
    
         <script src="../js/jquery-3.4.1.min.js"></script>
         <script src="../js/albumJQ.js"></script>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>