<!DOCTYPE html >
<html>
	<head>
		<title>index</title>
		<link rel="stylesheet" href="../css/style5.css" />		
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    </head>
	<body id="corps">
		<%- include("../partial/lien") %>
        <h1 id="bienvenue">Bienvenue sur mon site de developpement</h2>
			<div class="container">
				<div class="row">
					<img class="col-12" src="../public/images/nodejs.jpeg" id="im1"/>
				</div>
				
				<div  class="row">
					<img class="col-4 d-none d-sm-block" src="../public/images/bootstrap.jpeg"  id="im2" class="choix"/>
					<img class="col-4 d-none d-sm-block" src="../public/images/hcj.jpeg"  id="im3"class="choix"/>
					<img class="col-4 d-none d-sm-block" src="../public/images/jquery.jpeg"  id="im4" class="choix"/>
				</div>
			</div>
	</body>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>

