<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a><img id="node" src="../public/images/nodejs.jpeg"></a>
    <link rel="stylesheet" href="../css/style5.css" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/L4E4">L4E4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/L5E3">L5E3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="L5E5">L5E5</a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="L5E6">L5E6</a>
          </li>    
      </ul>
    </div>  
  </nav>